input,
select,
textarea {
    box-sizing: border-box;
    background-color: #3d4961;
    border: solid 1px #232d3f;
    border-radius: 6px;
    padding: 0.2rem;
    color: white;
}

textarea {
    min-width: 100%;
    min-height: 200px;
}

label {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: #b7b7b7;
}

.vh-50 {
    min-height: 300px;
    height: 50vh;
    overflow: auto;
}

.my-5 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.ms-auto {
    margin-left: auto;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

table img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: 14px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    overflow: hidden;
}

thead {
    background-color: #ffffff2c;
}

th,
td {
    padding: 12px 16px;
    text-align: left;
}

th {
    font-weight: 600;
    /* color: #333; */
    border-bottom: 2px solid #e0e0e02a;
}

td {
    border-bottom: 1px solid #e0e0e02a;
    /* color: #555; */
}

tr.active {
    background: #4eddff1c;
}

tr:hover {
    cursor: pointer;
    background-color: #fafafa23;
}
